body {
  margin: 0;
  background-color: #1a1721;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content {
  overflow: visible;
  width: 100%;
}

.text {
  position: fixed;
  top: 50vh;
  font-family: termina, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 8vw;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -2;
}

/* 버튼 섹션 스타일 */
.row {
  position: fixed; /* 고정 위치 설정 */
  bottom: 20px; /* 페이지 하단에서 20px 떨어진 위치 */
  right: 20px; /* 페이지 오른쪽에서 20px 떨어진 위치 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  z-index: 10; /* z-index 추가, 다른 요소보다 위에 표시 */
}

/* 버튼 기본 스타일 */
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #6AA2F0; /* 기본 배경색 */
  border: none;
  border-radius: 5px; /* 둥근 모서리 */
  text-decoration: none; /* 링크 기본 스타일 제거 */
  transition: background-color 0.3s ease, transform 0.2s ease; /* 부드러운 전환 효과 */
  margin: 10px; /* 버튼 간격 */
}

/* 버튼 호버 스타일 */
.btn:hover {
  background-color: #191721; /* 호버 시 배경색 */
  transform: translateY(-2px); /* 위로 살짝 올라가는 효과 */
}

/* 현재 선택된 버튼 스타일 */
.btn.current {
  background-color: #2AD025; /* 현재 선택된 버튼 색상 */
  font-weight: bold; /* 선택된 버튼 강조 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* 추가한 버튼 스타일 */
.btn.login {
  background-color: #81C14B; /* 현재 선택된 버튼 색상 */
  font-weight: bold; /* 선택된 버튼 강조 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* 버튼 비활성화 스타일 */
.btn:disabled {
  background-color: #ccc; /* 비활성화 색상 */
  cursor: not-allowed; /* 커서 변경 */
}

.outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: 2;
}

.filter-text {
  mix-blend-mode: screen;
  color: #804691;
  z-index: 2;
}

.images {
  padding-top: 60vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 150vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 2%);
  grid-template-rows: repeat(30, 3%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
}

.content__slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:nth-child(1) {
  grid-area: 1/1/6/8;
}

img:nth-child(2) {
  grid-area: 3/12/8/20;
}

img:nth-child(3) {
  grid-area: 9/5/13/15;
}

img:nth-child(4) {
  grid-area: 14/1/18/8;
}

img:nth-child(5) {
  grid-area: 16/12/20/19;
}

img:nth-child(6) {
  grid-area: 20/2/25/9;
}

img:nth-child(7) {
  grid-area: 22/11/24/20;
}

img:nth-child(8) {
  grid-area: 26/5/30/15;
}